/**
 * 메인 스타일 진입점
 * 트리 셰이킹을 위해 필요한 모듈만 임포트
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Lato:wght@300;400;700&family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

/* 디자인 토큰 */
@import './tokens/index.css';

/* 기본 스타일 */
@import './base/reset.css';
@import './base/utilities.css';

/* 컴포넌트 스타일 */
@import './components/button.css';
@import './components/modal.css';
