.layout {
  display: flex;
  min-height: 100vh;
}

.contentArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 240px;
  transition: margin-left var(--transition-base);
}

.contentAreaCollapsed {
  margin-left: 96px;
}

.mainContent {
  flex: 1;
}

@media (max-width: 960px) {
  .layout {
    flex-direction: column;
  }

  .contentArea,
  .contentAreaCollapsed {
    margin-left: 0;
  }
}
